/* _content/alasos/Pages/Login.cshtml.rz.scp.css */
.register-container[b-34ajs7i7qg] {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    padding-bottom: 50px;
    justify-content: flex-start;
    background-color: var(--dl-color-general-bg);
}

.register-container01[b-34ajs7i7qg] {
    gap: 100px;
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
}

.register-container-column[b-34ajs7i7qg] {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.register-head[b-34ajs7i7qg] {
    font-style: normal;
    font-family: Spectral;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.register-input-container[b-34ajs7i7qg] {
    width: 100%;
    display: flex;
    max-width: 500px;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: flex-start;
}

.register-label[b-34ajs7i7qg] {
    color: var(--dl-color-general-white);
    font-size: 14px;
    font-family: Open Sans;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.register-textinput[b-34ajs7i7qg] {
    color: var(--dl-color-general-bg);
    width: 100%;
    font-size: 14px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    font-family: Inter;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 0px;
    background-color: #dcd9d5;
}



.register-button[b-34ajs7i7qg] {
    color: var(--dl-color-general-white);
    font-size: 13px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    font-family: Open Sans;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #AB615E;
}

.register-button1[b-34ajs7i7qg] {
    color: var(--dl-color-general-white);
    font-size: 13px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    font-family: Open Sans;
    margin-left: 20px;
    border-width: 0px;
    border-radius: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #51535a;
}


.register-textinput3[b-34ajs7i7qg] {
    color: var(--dl-color-general-bg);
    width: 100%;
    font-size: 14px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    font-family: Inter;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-radius: 0px;
    background-color: #dcd9d5;
}


.register-button-container[b-34ajs7i7qg] {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@media(max-width: 1600px) {
}

@media(max-width: 479px) {
    .register-container01[b-34ajs7i7qg] {
        flex-wrap: wrap;
    }
}
/* _content/alasos/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0v3kacaht9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0v3kacaht9] {
  color: #0077cc;
}

.btn-primary[b-0v3kacaht9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0v3kacaht9], .nav-pills .show > .nav-link[b-0v3kacaht9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0v3kacaht9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0v3kacaht9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0v3kacaht9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0v3kacaht9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0v3kacaht9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
